html, body {
  /* background-color: #f8f2e8; */
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: auto;
}


.blah {
  color: white;
  font-size: 1.625rem;
  line-height: 1.5;
  z-index: 2;
  overflow: hidden; /* Hide the overflowing text */
  position: absolute;
  bottom: 8%; /* Position at the bottom of the screen */
  /* left: 50%; */
  /* transform: translateX(-50%); Center horizontally */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 10px 20px; /* Padding around the text */
  border-radius: 6px; /* Rounded corners */
  max-width: 800px; /* Set a maximum width for the text container */
  word-wrap: break-word; /* Allow text to wrap to the next line */
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  height: 400px;
  width: 400px;
  /* border: #E7D7BC 4px double; */
  border: #474238 4px double;
  margin: auto; /* Center the div itself */
}

.portal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  width: 100%;
  gap: 200px;
}

.portal {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.portal img {
  width: auto;
  height: 100%;
}

.cell {
  color: black;
  padding: 1rem;
  align-items: flex-start; /* Align items to the top */  
}
